<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ideas para Regalos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
</head>
<body>
    <div class="container">
        <h1>Ideas para regalos</h1>
        <p>Hola, {{ nombre }}. ¡Gracias por confirmar! Si quieres, puedes seleccionar una idea de regalo.</p>
        <form action="/enviar_regalos" method="post">
            <input type="hidden" name="nombre_invitado" value="{{ nombre }}">
            <div class="regalo-opciones">
                <label class="regalo-item">
                    <input type="radio" name="regalo" value="regalo_sorpresa" required>
                    <img src="https://milgenialuruguay.com/cdn/shop/articles/Regalo_sorpresa_mama.jpg?v=1714405446" alt="Regalo Sorpresa">
                    <span>Regalo Sorpresa</span>
                </label>
                <label class="regalo-item">
                    <input type="radio" name="regalo" value="regalo_sorpresa">
                    <img src="https://i.pinimg.com/originals/27/63/6d/27636d0d6fed4f09bb11decdd7490e3b.jpg" alt="Regalo Sorpresa">
                    <span>Regalo Sorpresa</span>
                </label>
                <label class="regalo-item">
                    <input type="radio" name="regalo" value="Tragos">
                    <img src="https://media.istockphoto.com/id/586376654/es/foto/frascos-de-marcas-de-gran-variedad-de-licores-de-alta-graduación.jpg?s=612x612&w=0&k=20&c=6ONb_sB-0KMyHnIU2o6WcopMfY08ivGieemGhu6ju6U=" alt="Tragos">
                    <span>Tragos</span>
                </label>
            </div>
            <button type="submit">Enviar selección</button>
        </form>
    </div>
</body>
</html>